.overlay-about {
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5); 
    z-index: 1;
}

.about-content {
	margin-top: 70px;
	z-index: 2;
}

.local-bg {
	background-color: transparent !important;
	border: none !important;
}

.about-row {
	align-items: center;
}

.about-us-bg {
	text-align: right;
	background-color: rgba(14, 20, 40, 0.8) !important;
	color: white;
}

.about-us-title{
	font-family: 'Bebas Neue', cursive;
	font-size: 50px !important;
	letter-spacing: 3px;
}

.about-us-text {
	font-family: 'Istok Web', sans-serif;
	font-size: 20px;
}


