.admin-title {
	font-family: 'Bebas Neue', cursive;
	font-size: 50px !important;
	color: #0E1428;
	display: flex;
	justify-content: center;
	align-items: center;
}

.users {
	display: flex;
    align-items: center;
    flex-direction: column;
}