#appnavbarScrollingDropdown {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px !important;
  letter-spacing: 2px;
  color: #fff !important;
}

.appnavbar-link {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px !important;
  letter-spacing: 2px;
  color: #fff !important;
}

.navbar {
  background-color: #0E1428 !important;
}

.dropdown-item:hover {
  background-color: #E8871E !important;
  color: black !important;
}

#appnavbarScrollingDropdown:hover {
  color: #E8871E !important;
}