.off-canvas {
	position: absolute;
    top: 140px;
    right: 50px;
    background-color: #0E1428 !important;
    font-size: 35px !important;
    letter-spacing: 0.15rem;
    font-family: 'Bebas Neue', cursive !important;
    text-align: center;
}

.off-canvas:hover {
	background-color: #E8871E !important;
	color: black !important;

}

.offcanvas-body {
    flex-grow: 0 !important;
}

.featured {
	display: flex !important;
}

.cart-card {
    border: none !important;
}

.checkout-title-container {
    display: flex;
    justify-content: center;
}