.delete-button:hover {
	background-color: #e84855 !important;
  color: black !important;
}

.edit-button:hover {
	background-color: #E8871E !important;
  color: black !important;
}

.back-icon {
  color: #0E1428;
  font-size: 35px;
}

.back-icon:hover {
  color: #E8871E !important;
}

.cart-title-container {
	text-align: center;
	margin-top: 25px !important;
}

.cart-title {
	font-family: 'Bebas Neue', cursive;
  font-size: 50px !important;
  color: #0E1428;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.total-amount-text {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.go-checkout {
  background-color: #0E1428 !important;
  font-size: 35px !important;
  letter-spacing: 0.15rem;
  font-family: 'Bebas Neue', cursive !important;
  text-align: center;
  color: white !important;
  display: inline-block;
}

.go-checkout:hover{
  background-color: #E8871E !important;
  color: black !important;
}

.go-voucher {
  background-color: #0E1428 !important;
  font-size: 35px !important;
  letter-spacing: 0.15rem;
  font-family: 'Bebas Neue', cursive !important;
  text-align: center;
  color: white !important;
  display: inline-block;
}

.go-voucher:hover{
  background-color: #E8871E !important;
  color: black !important;
}

.save {
  margin-right: 5px;
}

.save, .cancel {
  background-color: #0E1428 !important;
  font-size: 24px !important;
  color: white !important;
  width: 21rem !important;
  padding: 7px !important;
}

.save:hover {
  background-color: #8ED081 !important;
  color: black !important;
}

.cancel:hover {
  background-color: #e84855 !important;
  color: black !important;
}