.checkout-header {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.15em;
}

.orders th {
  line-height: 24px;
  letter-spacing: 0.15em;
}

.checkout-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px !important;
    color: #0E1428;
    display: flex;
    justify-content: space-between;
}

.checkout-details {
  background-color: #D9D9D9;
}

.delivery-address {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
}

.total-container {
  margin-top: 30px !important;
}

.total-amount {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.05em;
}

.confirm-btn {
  font-size: 25px !important;
  line-height: 43px !important;
  letter-spacing: 0.1em;
  background-color: #0E1428 !important;
  border-radius: 10px !important;
  font-family: 'Bebas Neue', cursive !important;
}

.confirm-btn:hover {
  background-color: #E8871E !important;
  color: black !important;
}

.table-title{
  background-color: #0E1428;
}

.table-title-text{
  color: white;
  font-size: 15px !important;
}

.back-icon {
  color: #0E1428;
  font-size: 35px;
}

.back-icon:hover {
  color: #E8871E !important;
}

.checkout-table {
  border: none !important;
}