/*.footer-container {
	padding: 45px;
}*/

.footer-link {
	font-family: 'Istok Web', sans-serif;
  	font-size: 15px !important;
  	letter-spacing: 2px;
  	color: #fff !important;
}

.footer-icon {
	font-size: 30px !important;
	letter-spacing: 2px;
  	color: #fff !important;
}

.footer-copyright {
	color: white;
}