.overlay {
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); 
    z-index: 2;
}

.banner {
  text-align: center;
  top: 75%;
  color: white;
  z-index: 3;
  font-family: 'JetBrains Mono', monospace;
}

.banner-text{
  font-size: 3.5rem;
}

.down-icon {
  font-size: 4rem;
  color: white;
}

.down-icon:hover{
  color: #E8871E !important;
}

.banner {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.backToHome {
  background-color: #0E1428 !important;
  color: white !important;
  font-size: 35px !important;
  letter-spacing: 0.15rem;
  font-family: 'Bebas Neue', cursive !important;
  text-align: center;
}

.backToHome:hover {
  background-color: #E8871E !important;
	color: black !important;
}