.login-card {
  width: 75%;
  margin: 75px auto auto;
}

.login-card-internal {
  width: 60%;
  margin: auto auto;
}

.form-field {
  padding-top: 27px;
  background-color: #D9D9D9;;
}

.form-header {
  font-size: 40px;
}

#sign-in-btn {
  background-color: #0E1428;
  padding-left: 57px;
  padding-right: 57px;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.15em;
}

#sign-in-btn:hover {
  background-color: #E8871E !important;
  color: black !important;
}

.login-footer {
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.15em;
}

#password {
  border-radius: 5px;
}

