.edit-btn {
  margin-right: 5px;
  background-color: #74A4BC !important;
  color: white !important;
}

.archive-product {
  background-color: #7C3626 !important;
  color: white !important;
}

.unarchive-product {
  background-color: #8ED081 !important;
  color: #000 !important;
}

.table-info {
  font-size: 36px;
}

.add-item-btn {
  background-color: #0E1428 !important;
  color: white !important;
  font-size: 23px !important;
}

.add-item-btn:hover {
  background-color: #E8871E !important;
  color: black !important;
}

.product-tabs {
  background-color: #D9D9D9 !important;
  border-radius: 5px;
}

.product-table {
  background-color: white !important; 
  border-radius: 5px;
}

.products-text {
  font-size: 40px !important;
}

.merchant-row {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.tab-container {
  background-color: white;
  border-radius: 5px;
}
.order-text {
  font-family: 'Bebas Neue', cursive;
  font-size: 65px !important;
  color: #0E1428;
}

.order-tabs {
  background-color: #D9D9D9 !important;
}

.order-tabs button {
  font-family: 'Istok Web', sans-serif;
  font-size: 20px !important;
  color: black !important ;
}

.order-tabs .nav-link.active {
  background-color: #E8871E !important;
}
