.merchant-page-case {
  display: flex;
  justify-content: center;
}

.left-side {
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 100px;
}

.quote {
  font-size: 2.0rem;
  z-index: 4;
}

.featured-m {
  background-color: rgba(14, 20, 40, 0.6) !important;
}

.featured-m-title {
  color: #fff !important; 
  font-size: 2rem !important;
  font-family: 'Bebas Neue', cursive;
  text-align: center ;
  letter-spacing: 5px;
}

.featured-m-name {
  color: #fff !important; 
  font-family: 'JetBrains Mono', monospace;
  font-size: 25px !important;
}

.featured-m-text {
  color: #fff !important; 
  font-family: 'JetBrains Mono', monospace;
  font-size: 15px;
}

.featured-m-quote {
  color: #fff !important; 
  font-size: 25px !important;
}

.right-side-nav {
  display: flex;
  justify-content: end;
  z-index: 4;
  align-items: center;
  margin-right: 100px;
}

.right-side {
  background-color: rgba(14, 20, 40, 0.6) !important; 
  width: fit-content;
  height: auto;
  border-radius: 10px;
}

.reasons-case {
  align-content: space-around;
  justify-content: center;
}

.reasons-title {
 font-family: 'Bebas Neue', cursive;
 font-size: 3rem !important;
 color: #fff !important;
 text-align: center ;
}

.reasons {
  font-size: 30px !important;
  color: #fff !important;
  text-align: center;
  letter-spacing: 5px;

}

.register-merchant {
  font-family: 'Bebas Neue', cursive !important;
  background-color: rgba(14, 20, 40) !important; 
  border-radius: 3px;
  color: white !important;
  font-size: 2rem !important;
}

.register-merchant:hover{
  background-color: #E8871E !important;
  color: black !important;
}