.register-card {
  width: 75%;
  margin: 25px auto auto;
}

.register-header {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.15em;
}

.form-spacer {
  padding: 25px 50px;
}

#togglePassword {
  cursor: pointer;
}

.terms {
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0.1em;
}

#register-btn {
  font-family: 'Bebas Neue', cursive !important;
  background-color: #0E1428;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.15em;
}

#register-btn:hover {
  background-color: #E8871E !important;
  color: black !important;
}

.see-icon {
  cursor: pointer;
}