.sidenav {
  display: flex;
  justify-content: center;
}

.sidenav-categories {
  background-color: #0E1428; 
  width: fit-content;
  height: 35rem;
  position: fixed;
}

.categories-text{
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem !important;
  color: #fff !important;
}

.sidenav-link {
  font-family: 'Istok Web', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff !important;
}

.sidenav-link:hover {
  background-color: #E8871E !important;
  color: black !important;
}

.search {
  background-color: #0E1428 !important;
}

.search-input {
  outline: none !important;
  width: 350px !important;
  margin-right: 5px !important;
}

.search-icon {
  color: white;
  font-size: 1rem !important;
}

.mini-total {
  color: white !important;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.1rem !important;
}

.products-shop {
  display: flex;
  justify-content: flex-start !important;
  padding-right: 150px !important;
}

.product-card {
  height: fit-content !important;
}

.product-card:hover {
  box-shadow: 5px 10px #888888;
}

.name {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.3rem !important;
}

.description {
  font-family: 'Istok Web', sans-serif;
  font-size: 1.0rem;
}

.price {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.3rem;
  margin: 0;
}

.search-button:hover {
  background-color: #E8871E !important;
}

.add2cart-button {
  background-color: #0E1428 !important;
  font-size: 20px !important;
  color: white !important;
}

.add2cart-view-button {
  background-color: #0E1428 !important;
  font-size: 24px !important;
  color: white !important;
  width: 21rem !important;
  padding: 7px !important;
}

.modal-view-title {
  background-color: #0E1428 !important;
  color: white !important;
}

.quantity {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  flex-grow: 0.4 !important;
}

.modal-header button {
    background-color: #fff !important; 
    opacity: 1;
}

.plus-btn, .minus-btn {
  font-size: 25px !important;
  font-weight: 900 !important;
  background-color: #0E1428 !important;
  color: white !important;
}

.add2cart-button:hover, .add2cart-view-button:hover, .plus-btn:hover, .minus-btn:hover  {
  background-color: #E8871E !important;
  color: black !important;
}

.add2cart-price {
  text-align: center !important;
}

.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prod-name {
  font-size: 25px;
}

.wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 125px !important;
    padding-right: 125px !important;
}