.profile-container {
	margin-top: 75px !important;
}

.profile-text {
	font-family: 'Bebas Neue', cursive;
  	font-size: 50px !important;
	color: #0E1428;
	display: flex;
	justify-content: space-between;
}

.profile {
	padding: 20px;
}

.edit-icon {
	color: #0E1428;
	font-size: 35px;
}

.history-container {
	margin-top: 75px !important;
}

.history-text {
	font-family: 'Bebas Neue', cursive;
  	font-size: 50px !important;
	color: #0E1428;
	text-align: center;
}

.edit-icon:hover {
	color: #E8871E !important;
}

.accordion-button:not(.collapsed){
	color: white !important;
	background-color: #0E1428 !important;
}

.accordion-table {
  background-color: #D9D9D9 !important;
}

.accordion-table-text {
  color: black;
  font-size: 15px !important;
}

.changes-container {
	display: flex;
	justify-content: space-around;
}

.changes-row-container {
	display: flex;
	align-items: center;
}

.save-button, .cancel-change-button {
	background-color: #0E1428 !important;
	font-size: 20px !important;
	color: white !important;
	width: 12rem !important;
}

.save-button:hover {
	background-color: #E8871E !important;
  	color: black !important;
}

.cancel-change-button:hover {
	background-color: #e84855 !important;
  	color: black !important;
}

.modal-edit-title {
	background-color: #0E1428 !important;
 	color: white !important;
}

.input-group .form-control {
	background-color: white !important;
}