* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin-top: 115px;
  overflow: hidden;
}
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.bebas-font {
  font-family: 'Bebas Neue', cursive;
  color: #000;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.istok-font {
  font-family: 'Istok Web', sans-serif;
}

.font-24 {
  font-size: 24px !important;
  line-height: 29px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none !important;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

a:hover {
  color: #E8871E !important;
}
